* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:focus {
		outline: none;
	}
	list-style: none;
	font-family: 'Nunito', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	text-decoration: none;
}

body {
	background-color: #202020;
	margin: 0 auto;
	width: 540px;
	display: grid;
}
a {
	border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
